@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('header.css');
@import url('sobre.css');
@import url('projetos.css');
@import url('botoes.css');
@import url('responsividade.css');
html {
    scroll-behavior: smooth;
}

:root {
    --cor-texto: #302e2e;
    --cor-destaque: #eabba8;
    --cor-sombra: rgba(255, 180, 170, 0.7);
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

body {
    padding-top: 20px;
    background-color: #fff;
    color: var(--cor-texto);
}
.linha-divisoria {
    border-top: 3px dashed #eabba8;
    margin: 45px 0;
    opacity: 0.2;
    text-align: center;
}

